#articles-layout {
  display: flex;
  margin-top: 0;
}

aside {
  background-color: #f4f4f4;
  border-right: 1px solid #ccc;
  padding: 20px;
  height: calc(100vh - 70px); 
  overflow-y: auto;
  position: sticky;
  top: 70px; /* Offset to start below the fixed header */
}

main {
  padding: 20px;
  background-color: #fff;
  flex: 1;
  margin-top: 70px;
}
