header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #upper-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
  }
  
  #logo {
    height: 50px;
  }
  
  #header-user-information {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  
  #header-user-information li {
    margin-left: 20px;
  }
  
  #avatar, #guest-icon {
    height: 50px;
  }
  
#guest-icon{
    font-size: 50px;
}