.articleCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.articleCard:hover {
  transform: scale(1.02);
}

.disabledArticleCard {
  cursor: not-allowed;
  opacity: 0.6; /* Reduce opacity to signal that the card is disabled */
  transform: none; /* Disable hover effect */
}

.articleImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.articleContent {
  padding: 10px;
}

.articleContent h3 {
  margin: 0;
  font-size: 18px;
  margin-bottom: 10px;
}
