.articleCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  max-height: 100%; /* No height limit for desktop full view */
  position: relative;
}

.articleCard:hover {
  transform: scale(1.02);
}

.disabledArticleCard {
  cursor: not-allowed;
  opacity: 0.6;
  transform: none;
}

.articleImage {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Crop the image to fit within the container */
  border-radius: 8px;
  margin-bottom: 10px;
}

.articleContent {
  padding: 10px;
  flex-grow: 1;
}

.articleContent h3 {
  margin: 0;
  font-size: 18px;
  margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-height: 800px) {
  .articleCard {
    max-height: 90vh; /* Limit height when viewport height decreases */
    overflow: hidden; /* Hide content overflow */
  }

  .articleContent {
    overflow-y: auto; /* Enable internal scrolling only when height decreases beyond threshold */
  }
}

@media (max-width: 1200px) {
  .articleCard {
    padding: 8px;
    max-height: 90vh; /* Limit the height of the card to 90% of viewport height */
  }

  .articleImage {
    height: 130px; /* Reduce image height for smaller screens */
  }

  .articleContent h3 {
    font-size: 16px; /* Smaller font for smaller screens */
  }
}

@media (max-width: 768px) {
  .articleCard {
    padding: 8px;
    max-height: 80vh; /* Further limit the height of the card for smaller screens */
    overflow: hidden;
  }

  .articleContent {
    overflow-y: auto; /* Enable internal scrolling */
  }

  .articleImage {
    height: 120px; /* Further reduce image height */
  }

  .articleContent h3 {
    font-size: 15px; /* Smaller font size on tablet-sized screens */
  }

  .articleContent p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .articleCard {
    padding: 6px;
    max-height: 70vh; /* Limit the height to 70% of the viewport */
    overflow: hidden;
  }

  .articleContent {
    overflow-y: auto; /* Enable internal scrolling */
  }

  .articleImage {
    height: 100px; /* Smaller height for images on mobile screens */
  }

  .articleContent h3 {
    font-size: 14px;
  }

  .articleContent p {
    font-size: 13px;
  }
}
