.commentCard {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.commentBody {
  font-size: 16px;
  margin-bottom: 10px;
}

.commentDetails {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #555;
}

.commentAuthor,
.commentVotes,
.commentDate {
  margin-right: 15px;
}
