body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

.bodyContent {
  margin-top: 80px; /* Adjust based on the height of your header */
  padding: 20px; /* Optional padding for spacing */
}
